{% extends 'base.html.twig' %}

{% block layout_title %}
    {{ 'Venues'|trans }}
{% endblock %}

{% block body %}
    <div class="mdl-list">
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>
                    <h6>{{ 'Venues'|trans }}</h6>
                </span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <a id="venue-add" class="mdl-list__item-secondary-action" href="{{ path('venue_new') }}">
                    <i class="material-icons">add</i>
                </a>
                <div class="mdl-tooltip" data-mdl-for="venue-add">
                    {{ 'Create a venue'|trans }}
                </div>
            </span>
        </div>
        {% for venue in pagination %}
            <div class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    {% if venue.image %}
                        <img src="{{ venue.image }}" class="mdl-list__item-avatar" alt="{{ venue.name|e }}">
                    {% endif %}
                    <span href="{{ path('venue_show', { 'id': venue.id }) }}">{{ venue.name }}</span>
                    <span class="mdl-list__item-text-body">
                        {{ venue.address }}
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <button id="venue-menu-{{ venue.id }}"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>

                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="venue-menu-{{ venue.id }}">
                        <li class="mdl-menu__item" href="{{ path('venue_show', { 'id': venue.id }) }}">
                            {{ 'Preview'|trans }}
                        </li>
                        <li class="mdl-menu__item" href="{{ path('venue_edit', { 'id': venue.id }) }}">
                            {{ 'Edit'|trans }}
                        </li>
                        <li class="mdl-menu__item" href="{{ path('hall_index', { 'venue_id': venue.id }) }}">
                            {{ 'Halls'|trans }}
                        </li>
                    </ul>
                </span>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
