{% extends 'base.html.twig' %}

{% set nav = 'venue' %}

{% block header %}
    <div class="mdl-tabs__tab-bar">
        <a href="{{ path('venue_show', { 'id': venue.id }) }}" class="mdl-tabs__tab is-active">Review</a>
        <a href="{{ path('venue_edit', { 'id': venue.id }) }}" class="mdl-tabs__tab">Edit</a>
        <a href="{{ path('hall_index', { 'venue_id': venue.id }) }}" class="mdl-tabs__tab">Halls</a>
    </div>
{% endblock %}

{% block body %}
    <section class="mdl-layout__tab-panel is-active">
        <table class="mdl-data-table mdl-js-data-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ venue.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ venue.name }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ venue.address }}</td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
{#{{ form_start(delete_form) }}
<input type="submit" value="Delete">
{{ form_end(delete_form) }}#}
