{% extends "::base.html.twig" %}

{% block title %}
    {{ conference.title }}
{% endblock %}

{% block layout_title %}
    {{ 'Conference'|trans }}
{% endblock %}

{% block layout_ribbon %}
    {{ conference.image }}
{% endblock %}

{% block body %}
    <h3 style="margin: 20px 20px">{{ conference.title }} </h3>
    
    <p style="margin: 0 20px">
        <i class="mdl-color-text--primary">
            {% if conference.programStart %}
            {{ '%date% starts at %start% ends at %end%'|trans({ '%date%': conference.date|date('M d'), '%start%': conference.programStart|date('H:i'), '%end%': conference.programEnd|date('H:i') }) }}
        {% else %}
            {{ conference.date|date('M d') }}
        {% endif %}
        </i>
    </p>
{#    <img class="article-image" src="{{ conference.image }}" border="0" width="100%" alt="{{ conference.title|e }}"/>#}

    {% if conference.programs|length > 0 %}
        <div class="mdl-list">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <h5 id="program">{{ 'Program'|trans }}</h5>
                </span>
            </div>
            {% for event in conference.programs %}
                <div class="mdl-list__item mdl-list__item--three-line">
                    <span class="mdl-list__item-primary-content">
                        <span>
                            {{ event.start|date('H:i') }}-{{ event.end|date('H:i') }}
                            {% if event.isBreak %} <i class="mdl-color-text--accent">({{ 'break'|trans }})</i>{% endif %}
                        </span>
                        <span class="mdl-list__item-text-body">
                            {{ event.name }}
                            {% if event.lecturers|length > 0 %} ({{ event.lecturersList|join(', ') }}){% endif %}
                        </span>
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p style="margin: 0 20px">{{ conference.description|nl2br }}</p>

    {% if joined == null %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h5>{{ 'Price: %price%'|trans({ '%price%': conference.price }) }}</h5>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <a href="{{ path('public_conference_join', { 'id': conference.id }) }}" style="float: right" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--primary mdl-color-text--white">{{ 'Join'|trans }}</a>
            </div>
        </div>
    {% else %}
        <h5 style="text-align: center" class="mdl-color-text--accent">{{ 'You have joined'|trans }}</h5>
    {% endif %}

    {% if conference.hall %}
        <div class="mdl-list">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <h4 id="hall">{{ 'Hall'|trans }} {{ totalUsers }}/{{ conference.hall.userLimit }}</h4>
                </span>
            </div>
            {% set hall = conference.hall %}
            <div class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    {% if hall.image %}
                        <img src="{{ hall.image }}" class="mdl-list__item-avatar" alt="{{ hall.name|e }}">
                    {% endif %}
                    <span>{{ hall.name }}</span>
                    <span class="mdl-list__item-text-body">
                        {{ hall.venue.address }}
                    </span>
                </span>
            </div>
        </div>
    {% endif %}

    {% if conference.hall.goods|length > 0 %}
        <div class="mdl-list">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <h4 id="goods">{{ 'Goods'|trans }}</h4>
                </span>
            </div>
            <div class="mdl-grid">
                {% for good in conference.hall.goods %}
                    <div class="mdl-list__item mdl-cell--6-col">
                        <span class="mdl-list__item-primary-content">
                            <span>
                                <i class="material-icons mdl-list__item-avatar">{{ good.name|replace({ ' ': '_' }) }}</i>
                                {{ good.name }}
                            </span>
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if conference.lecturers|length > 0 %}
        <div class="mdl-list">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <h4 id="lecturer">{{ 'Lecturer'|trans }}</h4>
                </span>
            </div>
            <div class="mdl-grid">
                {% for lecturer in conference.lecturers %}
                    {% if lecturer.isActive %}
                        {% set user = lecturer.user %}
                        <div class="mdl-cell--6-col mdl-list__item mdl-list__item--three-line">
                            <span class="mdl-list__item-primary-content">
                                {% if user.gravatar %}
                                    <img src="{{ user.gravatar(40) }}" class="mdl-list__item-avatar" alt="{{ user.names|e }}">
                                {% else %}
                                    <i class="material-icons mdl-list__item-avatar">person</i>
                                {% endif %}
                                <span>{{ user.names }}</span>
                            </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}