<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        {% stylesheets '@ConferenceSchedulerBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>    
    {% javascripts
    '@ConferenceSchedulerBundle/Resources/public/js/jquery-2.2.4.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

{% if block('layout_ribbon') is defined %}
    {% set ribbon = block('layout_ribbon') %}
{% else %}
    {% set ribbon = false %}
{% endif %}
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header{% if ribbon %} mdl-layout__background mdl-color--grey-200{% endif %}">
        <header class="mdl-layout__header{% if ribbon %} mdl-layout__header--transparent2{% endif %}">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    {% block layout_title %}{{ 'Conference schedule'|trans }}{% endblock %}
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="{{ path('homepage') }}">{{ 'Conferences'|trans }}</a>
                    <a class="mdl-navigation__link" href="{{ path('public_halls') }}">{{ 'Halls'|trans }}</a>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {#<div class="mdl-navigation__link">
                            <button id="user-notify-menu" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons mdl-badge mdl-badge--overlap" data-badge="3">notifications_none</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                for="user-notify-menu">
                                <li class="mdl-menu__item">Some notification</li>
                            </ul>
                        </div>
                        <div class="mdl-navigation__link">
                            <button id="user-profile-menu" class="mdl-button mdl-js-button mdl-button--icon">
                                {% if app.user.gravatar %}
                                    <img src="{{ app.user.gravatar }}">
                                {% else %}
                                    <i class="material-icons">person</i>
                                {% endif %}
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                for="user-profile-menu" style="z-index: 99999">
                                <li class="mdl-menu__item" href="{{ path('conference_index') }}">{{ 'My conferences'|trans }}</li>
                                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">{{ 'My schedule'|trans }}</li>
                                <li class="mdl-menu__item"><a href="{{ path('fos_user_profile_show') }}">{{ 'Profile'|trans }}</a></li>
                                <li class="mdl-menu__item"><a href="{{ path('fos_user_profile_edit') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect">{{ 'Settings'|trans }}</a></li>
                                <li class="mdl-menu__item" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</li>
                            </ul>
                        </div>#}
                    {% else %}
                        <a class="mdl-navigation__link" href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans }}</a>
                        <a class="mdl-navigation__link" href="{{ path('fos_user_registration_register') }}">{{ 'Sign in'|trans }}</a>
                    {% endif %}
                </nav>
            </div>
        {% block header %}{% endblock %}
    </header>
    <div class="mdl-layout__drawer">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.gravatar %}
                <ul class="mdl-list">
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <img src="{{ app.user.gravatar(40) }}" class="mdl-list__item-avatar" alt="{{ app.user.names|e }}"></img>
                            <span>
                                {{ app.user.names }}
                            </span>
                            <span class="mdl-list__item-text-body">
                                {{ 'cash $%cash%'|trans({ '%cash%': app.user.coins|number_format }) }}
                            </span>
                        </span>
                    </li>
                </ul>
            {% else %}
                <span class="mdl-layout-title">
                    {{ app.user.names }}
                </span>
            {% endif %}
        {% else %}
            <span class="mdl-layout-title">
                {{ 'Conf schedule'|trans }}
            </span>
        {% endif %}
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ path('homepage') }}">{{ 'Conferences schedule'|trans }}</a>
            <a class="mdl-navigation__link" href="{{ path('public_halls') }}">{{ 'Halls'|trans }}</a>
            <span class="mdl-navigation__title mdl-color-text--grey-800"></span>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_CONFERENCE_OWNER') %}
                    <a class="mdl-navigation__link" href="{{ path('conference_index') }}">{{ 'My conferences'|trans }}</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="mdl-navigation__link" href="{{ path('venue_index') }}">{{ 'Venues\\Halls'|trans }}</a>
                {% endif %}
                <a class="mdl-navigation__link" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
            {% else %}
                <a class="mdl-navigation__link" href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans }}</a>
                <a class="mdl-navigation__link" href="{{ path('fos_user_registration_register') }}">{{ 'Sign in'|trans }}</a>
            {% endif %}
        </nav>
    </div>
    {% if ribbon %}
        <div class="mdl-ribbon" style="background-image: url('{{ ribbon|trim }}')"></div>
    {% endif %}
    <main class="mdl-layout__content{% if ribbon %} mdl-ribbon-main{% endif %}">
        {#<div class="mdl-color--blue" style="width: 100%; height: 40vh; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0;"></div>
        <div class="mdl-grid" style="margin-top: -35vh; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0;">#}
        {#        <div  style="max-width: 960px; margin: 10px auto 0;"></div>#}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--6-col{% if ribbon %} mdl-shadow--4dp{% endif %}">
            {% block body %}{% endblock %}
        </div>
    </div>
</main>
</div>
{% block javascripts %}{% endblock %}
{% javascripts
    '@ConferenceSchedulerBundle/Resources/public/js/material.min.js'
    '@ConferenceSchedulerBundle/Resources/public/js/menu.js'
    '@ConferenceSchedulerBundle/Resources/public/js/pagination.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% include 'ConferenceSchedulerBundle::flashbag.html.twig' %}
</body>
</html>