{% extends 'base.html.twig' %}

{% set nav = 'conference' %}

{% block body %}

    <div class="mdl-tabs mdl-js-tabs ">
        {% include 'ConferenceSchedulerBundle:Conference:tabs.html.twig' with {'conference': conference, 'active': 'admins'} %}

        <div class="mdl-tabs__panel is-active">
            <br>
            <div class="mdl-list">
                {% for admin in conference.admins %}{# mdl-list__item--three-line#}
                    {% set user = admin.user %}
                    <div class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            {% if user.gravatar %}
                                <img src="{{ user.gravatar(40) }}" class="mdl-list__item-avatar" alt="{{ user.names|e }}">
                            {% else %}
                                <i class="material-icons mdl-list__item-avatar">person</i>
                            {% endif %}
                            <span>{{ user.names }}</span>
                            <span class="mdl-list__item-text-body">
                                {{ admin.role.name }}
                            </span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            {% if app.user.id != user.id %}
                                {#<span class="mdl-list__item-secondary-info">remove</span>#}
                                <a class="mdl-list__item-secondary-action" href="{{ path('conference_admin_remove', { 'conference_id': conference.id, 'id': user.id }) }}">
                                    <i class="material-icons">clear</i>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                {% endfor %}
            </div>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ path('conference_admin_invite', { 'conference_id': conference.id }) }}">
                Invite
            </a>
            {#<br>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Username</th>
                        <th class="mdl-data-table__cell--non-numeric">Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in admins %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.username }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ user.email }}</td>
                            <td>
                                <a href="{{ path('conference_admin_add', { 'conference_id': conference.id, 'id': user.id }) }}" class="mdl-button mdl-js-button">add</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>#}
        </div>
    </div>
{% endblock %}
