{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Halls'|trans }}
{% endblock %}

{% block layout_title %}
    {{ 'Halls'|trans }}
{% endblock %}

{% block header %}
    {% include 'ConferenceSchedulerBundle:Hall:tabs.html.twig' with {'venue': venue, 'active': 'halls'} %}
{% endblock %}

{% block body %}
    <section class="mdl-layout__tab-panel is-active">
        <div class="mdl-list">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <span>
                        <h6>{{ 'Halls'|trans }}</h6>
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <a id="hall-add" class="mdl-list__item-secondary-action" href="{{ path('hall_new', { 'venue_id': venue.id }) }}">
                        <i class="material-icons">add</i>
                    </a>
                    <div class="mdl-tooltip" data-mdl-for="hall-add">
                        {{ 'Create a hall'|trans }}
                    </div>
                </span>
            </div>
            {% for hall in pagination %}
                <div class="mdl-list__item mdl-list__item--three-line">
                    <span class="mdl-list__item-primary-content">
                        {% if hall.image %}
                            <img src="{{ hall.image }}" class="mdl-list__item-avatar" alt="{{ hall.name|e }}">
                        {% endif %}
                        <span href="{{ path('hall_show', { 'venue_id': venue.id, 'id': hall.id }) }}">{{ hall.name }}</span>
                        <span class="mdl-list__item-text-body">
                            {{ 'User limit %userLimit%'|trans({ '%userLimit%': hall.userLimit }) }}
                        </span>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <button id="hall-menu-{{ hall.id }}"
                                class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">more_vert</i>
                        </button>

                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="hall-menu-{{ hall.id }}">
                            <li class="mdl-menu__item" href="{{ path('hall_show', { 'venue_id': venue.id, 'id': hall.id }) }}">
                                {{ 'Preview'|trans }}
                            </li>
                            <li class="mdl-menu__item" href="{{ path('hall_edit', { 'venue_id': venue.id, 'id': hall.id }) }}">
                                {{ 'Edit'|trans }}
                            </li>
                        </ul>
                    </span>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock %}
