{% extends 'base.html.twig' %}

{% set nav = 'venue' %}

{% block header %}
    <div class="mdl-tabs__tab-bar">
        <a href="{{ path('venue_show', { 'id': venue.id }) }}" class="mdl-tabs__tab">Review</a>
        <a href="{{ path('venue_edit', { 'id': venue.id }) }}" class="mdl-tabs__tab">Edit</a>
        <a href="{{ path('hall_index', { 'venue_id': venue.id }) }}" class="mdl-tabs__tab is-active">Halls</a>
    </div>
{% endblock %}

{% block body %}
    <section class="mdl-layout__tab-panel is-active">
        <br>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Userlimit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for hall in halls %}
                    <tr>
                        <td><a href="{{ path('hall_show', { 'venue_id': venue.id, 'id': hall.id }) }}">{{ hall.id }}</a></td>
                        <td>{{ hall.name }}</td>
                        <td>{{ hall.userLimit }}</td>
                        <td>
                            <button id="hall-menu-{{ hall.id }}"
                                    class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">more_vert</i>
                            </button>

                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="hall-menu-{{ hall.id }}">
                                <li class="mdl-menu__item">
                                    <a href="{{ path('hall_show', { 'venue_id': venue.id, 'id': hall.id }) }}">show</a>
                                </li>
                                <li class="mdl-menu__item">
                                    <a href="{{ path('hall_edit', { 'venue_id': venue.id, 'id': hall.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ path('hall_new', { 'venue_id': venue.id }) }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" title="Create a new hall">
            <i class="material-icons">add</i>
        </a>
    </section>
{% endblock %}
