{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Halls'|trans }}
{% endblock %}

{% block layout_title %}
    {{ 'Hall'|trans }}
{% endblock %}

{% block header %}
    {% include 'ConferenceSchedulerBundle:Hall:tabs.html.twig' with {'venue': venue, 'active': 'halls'} %}
{% endblock %}

{% block body %}
    <section class="mdl-layout__tab-panel is-active">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
            <div class="mdl-card__media">
                <img class="article-image" src="{{ hall.image }}" border="0" height="600" alt="{{ hall.name|e }}">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ hall.name }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{ hall.description|nl2br }}

                <div class="mdl-list">
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <h4 id="goods">{{ 'Venue'|trans }}</h4>
                        </span>
                    </div>
                    <div class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            {% if venue.image %}
                                <img src="{{ venue.image }}" class="mdl-list__item-avatar" alt="{{ venue.name|e }}">
                            {% endif %}
                            <span href="{{ path('venue_show', { 'id': venue.id }) }}">{{ venue.name }}</span>
                            <span class="mdl-list__item-text-body">
                                {{ venue.address }}
                            </span>
                        </span>
                    </div>
                </div>

                {% if hall.goods|length > 0 %}
                    <div class="mdl-list">
                        <div class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <h4 id="goods">{{ 'Goods'|trans }}</h4>
                            </span>
                        </div>
                        <div class="mdl-grid">
                            {% for good in hall.goods %}
                                <div class="mdl-list__item mdl-cell--6-col">
                                    <span class="mdl-list__item-primary-content">
                                        <span>
                                            <i class="material-icons mdl-list__item-avatar">{{ good.name|replace({ ' ': '_' }) }}</i>
                                            {{ good.name }}
                                        </span>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
