{% extends 'base.html.twig' %}

{% set nav = 'conference' %}

{% block body %}
    <div class="mdl-tabs mdl-js-tabs ">
        {% include 'ConferenceSchedulerBundle:Conference:tabs.html.twig' with {'conference': conference, 'active': 'program'} %}

        <div class="mdl-tabs__panel is-active">
            <br>
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Event</th>
                        <th>Type</th>
                        <th>Lecturers</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in program %}
                        <tr>
                            <td>{{ event.start|date('H:i') }}</td>
                            <td>{{ event.end|date('H:i') }}</td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.typeName }}</td>
                            <td>{{ event.lecturersList|join(', ') }}</td>
                            <td>
                                <button id="program-event-menu-{{ event.id }}"
                                        class="mdl-button mdl-js-button mdl-button--icon">
                                    <i class="material-icons">more_vert</i>
                                </button>

                                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="program-event-menu-{{ event.id }}">
                                    {% if event.isBreak == false %}
                                        <li class="mdl-menu__item">
                                            <a href="{{ path('conference_program_lecturers', { 'conference_id': conference.id, 'program_id': event.id }) }}">lecturers</a>
                                        </li>
                                    {% endif %}
                                    <li class="mdl-menu__item">
                                        <a href="{{ path('conference_program_edit', { 'conference_id': conference.id, 'id': event.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <a href="{{ path('conference_program_new', { 'conference_id': conference.id }) }}"  class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" title="Create a new event">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock %}
