{% extends 'base.html.twig' %}

{% block layout_title %}
    {{ 'Edit conference'|trans }}
{% endblock %}

{% block header %}
    {% include 'ConferenceSchedulerBundle:Conference:tabs.html.twig' with {'conference': conference, 'active': 'edit'} %}
{% endblock %}

{% block body %}
    <section class="mdl-layout__tab-panel is-active">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--primary mdl-color-text--white">
                    {{ 'Edit'|trans }}
                </button>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <a href="{{ path('conference_dismiss', { 'id': conference.id }) }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--grey-600 mdl-color-text--white">
                    {{ 'Dismiss'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </section>
{% endblock %}
