{% extends 'base.html.twig' %}

{% block layout_title %}
    {{ 'My conferences'|trans }}
{% endblock %}

{% block body %}
    <div class="mdl-list">
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>
                    <h6>{{ 'Conferences'|trans }}</h6>
                </span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <a id="conference-add" class="mdl-list__item-secondary-action" href="{{ path('conference_new') }}">
                    <i class="material-icons">add</i>
                </a>
                <div class="mdl-tooltip" data-mdl-for="conference-add">
                    {{ 'Create a conference'|trans }}
                </div>
            </span>
        </div>
        {% for conference in pagination %}
            <div class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    {% if conference.image %}
                        <img src="{{ conference.image }}" class="mdl-list__item-avatar" alt="{{ conference.title|e }}">
                    {% endif %}
                    <span href="{{ path('conference_show', { 'id': conference.id }) }}">{{ conference.title }}</span>
                    <span class="mdl-list__item-text-body">
                        {% if conference.programStart %}
                            {{ '%date% starts at %start% ends at %end%'|trans({ '%date%': conference.date|date('M d'), '%start%': conference.programStart|date('H:i'), '%end%': conference.programEnd|date('H:i') }) }}
                        {% else %}
                            {{ conference.date|date('M d') }}
                        {% endif %}
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <button id="conference-menu-{{ conference.id }}"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>

                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="conference-menu-{{ conference.id }}">
                        {% if conference.isDeleted == false %}
                            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" href="{{ path('conference_edit', { 'id': conference.id }) }}">
                                {{ 'Edit'|trans }}
                            </li>
                            <li class="mdl-menu__item" href="{{ path('conference_program_index', { 'conference_id': conference.id }) }}">
                                {{ 'Program'|trans }}
                            </li>
                            <li class="mdl-menu__item" href="{{ path('conference_user_index', { 'conference_id': conference.id }) }}">
                                {{ 'Users'|trans }}
                            </li>
                            <li class="mdl-menu__item" href="{{ path('conference_lecturer_index', { 'conference_id': conference.id }) }}">
                                {{ 'Lecturers'|trans }}
                            </li>
                            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" href="{{ path('conference_admin_index', { 'conference_id': conference.id }) }}">
                                {{ 'Administrators'|trans }}
                            </li>
                            <li class="mdl-menu__item mdl-color-text--accent" href="{{ path('conference_dismiss', { 'id': conference.id }) }}">
                                {{ 'Dismiss'|trans }}
                            </li>
                        {% endif %}
                    </ul>
                </span>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
