{% extends 'base.html.twig' %}

{% set nav = 'conference' %}

{% block body %}
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        {% include 'ConferenceSchedulerBundle:Conference:tabs.html.twig' with {'conference': conference} %}

        <div class="mdl-tabs__panel is-active">
            <br>
            <table class="mdl-data-table mdl-js-data-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ conference.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ conference.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ conference.description|truncate(150) }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{% if conference.date %}{{ conference.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    {#<tr>
                        <th>Start</th>
                        <td>{% if conference.start %}{{ conference.start|date('H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>End</th>
                        <td>{% if conference.end %}{{ conference.end|date('H:i:s') }}{% endif %}</td>
                    </tr>#}
                    <tr>
                        <th>Created</th>
                        <td>{% if conference.created %}{{ conference.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Updated</th>
                        <td>{% if conference.updated %}{{ conference.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('conference_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('conference_edit', { 'id': conference.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
