<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="{{ path('conference_index', { 'id': conference.id }) }}" class="mdl-layout__tab">
        {{ 'List'|trans }}
    </a>
    <a href="{{ path('conference_show', { 'id': conference.id }) }}" class="mdl-layout__tab{% if active|default('preview') == 'preview' %} is-active{% endif %}">
        {{ 'Preview'|trans }}
    </a>
    <a href="{{ path('conference_edit', { 'id': conference.id }) }}" class="mdl-layout__tab{% if active|default() == 'edit' %} is-active{% endif %}">
        {{ 'Edit'|trans }}
    </a>
    <a href="{{ path('conference_program_index', { 'conference_id': conference.id }) }}" class="mdl-layout__tab{% if active|default() == 'program' %} is-active{% endif %}">
        {{ 'Program'|trans }}
    </a>
    {#    <a href="#" class="mdl-layout__tab{% if active|default() == 'goods' %} is-active{% endif %}">Goods</a>#}
    {#<a href="#" class="mdl-layout__tab{% if active|default() == 'freepass' %} is-active{% endif %}">Free-pass</a>#}
    <a href="{{ path('conference_user_index', { 'conference_id': conference.id }) }}" class="mdl-layout__tab{% if active|default() == 'users' %} is-active{% endif %}">
        {{ 'Users'|trans }}
    </a>
    <a href="{{ path('conference_lecturer_index', { 'conference_id': conference.id }) }}" class="mdl-layout__tab{% if active|default() == 'lecturers' %} is-active{% endif %}">
        {{ 'Lecturers'|trans }}
    </a>
    <a href="{{ path('conference_admin_index', { 'conference_id': conference.id }) }}" class="mdl-layout__tab{% if active|default() == 'admins' %} is-active{% endif %}">
        {{ 'Administrators'|trans }}
    </a>
</div>